{% extends "/WebInterfaceV2/layout.html" %}

{% block page_title %}
Web Display - Dashboard
{% endblock page_title %}


{% block title_bar %}
<h1 class="program_title">Web Display</h1>
<h1 class="device_title">Test Screen</h1>
<div class="title_bar_options">
    Options...
</div>
{% endblock title_bar %}

{% block sidebar %}
<h2>Global</h2>
<a href="/">Dashboard</a>
<a href="/devices" class="selected">Devices</a>
<a href="">Events</a>
<a href="">Groups</a>
<a href="">Monitoring</a>
<a href="">Global Settings</a>
<h2>Device</h2>
<a href="">Device Settings</a>
<a href="">Logs</a>
{% endblock sidebar %}



{% block content %}
<div class="selection_container">
    <div class="tool_bar">
        <div>
            <input type="checkbox">
        </div>
        <div>
            1
        </div>
        <div>
            2
        </div>
        <div>
            3
        </div>
        <div>
            4
        </div>
    </div>
    <div class="headings">
        <div class="heading">
            Select
        </div>
        <div class="heading">
            Name
        </div>
        <div class="heading">
            Status
        </div>
        <div class="heading">
            IP
        </div>
        <div class="heading">
            Options
        </div>
    </div>
    <div class="table">
        <div class="table-item">
            <div class="table-cell">
                <input type="checkbox">
            </div>
            <div class="table-cell">
                Test Screen
            </div>
            <div class="table-cell">
                Connected
            </div>
            <div class="table-cell">
                192.192.192.192
            </div>
            <div class="table-cell">
                1, 2, 3, 4
            </div>
        </div>
        <div class="table-item">
            <div class="table-cell">
                <input type="checkbox">
            </div>
            <div class="table-cell">
                Test Screen
            </div>
            <div class="table-cell">
                Connected
            </div>
            <div class="table-cell">
                192.192.192.192
            </div>
            <div class="table-cell">
                1, 2, 3, 4
            </div>
        </div>

    </div>
</div>


{% endblock content %}