{% extends "/WebInterfaceV2/layout.html" %}

{% block page_title %}
Web Display - Global Settings
{% endblock page_title %}


{% block title_bar %}
<h1 class="program_title">Web Display</h1>
<h1 class="device_title">Test Screen</h1>
<div class="title_bar_options">
    Options...
</div>
{% endblock title_bar %}

{% block sidebar %}
<h2>Global</h2>
<a href="/">Dashboard</a>
<a href="/devices">Devices</a>
<a href="/events">Events</a>
<a href="/groups">Groups</a>
<a href="/global_monitoring">Monitoring</a>
<a href="/global_settings" class="selected">Global Settings</a>
<h2>Device</h2>
<a href="/device_settings">Device Settings</a>
<a href="/device_monitoring">Monitoring</a>
<a href="/logs">Logs</a>
{% endblock sidebar %}

{% block content %}
    <div class="settings-container">
        <h2>Global Settings</h2>
        <div class="settings-group">
            <h3>System Settings</h3>
            <hr>
            <div class="settings">
                <p>Timezone:</p>
                <input>
                <p>Timezone:</p>
                <input>
                <p>Timezone:</p>
                <input>
                <p>Timezone:</p>
                <input>
                <p>Timezone:</p>
                <input>
            </div>
        </div>

        <div class="settings-group">
            <h3>System Settings</h3>
            <hr>
            <div class="settings">
                <p>Timezone:</p>
                <input>
                <p>Timezone:</p>
                <input>
                <p>Timezone:</p>
                <input>
                <p>Timezone:</p>
                <input>
                <p>Timezone:</p>
                <input>
            </div>
        </div>

        <div class="settings-group">
            <h3>System Settings</h3>
            <hr>
            <div class="settings">
                <p>Timezone:</p>
                <input>
                <p>Timezone:</p>
                <input>
                <p>Timezone:</p>
                <input>
                <p>Timezone:</p>
                <input>
                <p>Timezone:</p>
                <input>
            </div>
        </div>

        <div class="settings-group">
            <h3>System Settings</h3>
            <hr>
            <div class="settings">
                <p>Timezone:</p>
                <input>
                <p>Timezone:</p>
                <input>
                <p>Timezone:</p>
                <input>
                <p>Timezone:</p>
                <input>
                <p>Timezone:</p>
                <input>
            </div>
        </div>

        <div class="settings-group">
            <h3>System Settings</h3>
            <hr>
            <div class="settings">
                <p>Timezone:</p>
                <input>
                <p>Timezone:</p>
                <input>
                <p>Timezone:</p>
                <input>
                <p>Timezone:</p>
                <input>
                <p>Timezone:</p>
                <input>
            </div>
        </div>

        <div class="settings-group">
            <h3>System Settings</h3>
            <hr>
            <div class="settings">
                <p>Timezone:</p>
                <input>
                <p>Timezone:</p>
                <input>
                <p>Timezone:</p>
                <input>
                <p>Timezone:</p>
                <input>
                <p>Timezone:</p>
                <input>
            </div>
        </div>
    </div>

{% endblock content %}