{% extends "/WebInterfaceV2/layout.html" %}

{% block page_title %}
Web Display - Groups
{% endblock page_title %}


{% block title_bar %}
<h1 class="program_title">Web Display</h1>
<h1 class="device_title">Test Screen</h1>
<div class="title_bar_options">
    <button onclick="toggleDarkMode()">Toggle Dark Mode</button>
</div>
{% endblock title_bar %}

{% block sidebar %}
<h2>Global</h2>
<a href="/">Dashboard</a>
<a href="/devices">Devices</a>
<a href="/events">Events</a>
<a href="/groups" class="selected">Groups</a>
<a href="/global_monitoring">Monitoring</a>
<a href="/global_settings">Global Settings</a>
<h2>Device</h2>
<a href="/device_settings">Device Settings</a>
<a href="/device_monitoring">Monitoring</a>
<a href="/logs">Logs</a>
{% endblock sidebar %}



{% block content %}
<div class="selection_container">
    <div class="tool_bar">
        <div>
            <input type="checkbox">
        </div>
        <div>
            + Add
        </div>
        <div>
            2
        </div>
        <div>
            3
        </div>
        <div>
            4
        </div>
    </div>
    <div class="headings">
        <div class="heading">
            Select
        </div>
        <div class="heading">
            Name
        </div>
        <div class="heading">
            Devices
        </div>
        <div class="heading">
            Status
        </div>
        <div class="heading">
            Options
        </div>
    </div>
    <div class="table">
        <div class="table-item">
            <div class="table-cell">
                <input type="checkbox">
            </div>
            <div class="table-cell">
                Test Event
            </div>
            <div class="table-cell">
                Test Device
            </div>
            <div class="table-cell">
                Enabled
            </div>
            <div class="table-cell">
                1, 2, 3, 4
            </div>
        </div>
    </div>
</div>


{% endblock content %}