#title_bar {
    background-color: black;
    color:lightgray
}

#side_bar {
    background-color: #292929;
}

div.table-cell.disabled {
    color: rgba(255, 0, 0, 0.5);
}

div.table-item.disabled {
    background-color: rgba(0, 0, 0, 0.25);
    color: darkgray
}

div.table-cell.enabled {
    color: rgba(0, 255, 0, 0.5);
}

div.settings-container div.settings-group hr {
    color: rgba(0, 0, 0, 0.25);
}

div.settings-container h2 {
    color: rgba(211, 211, 211, 0.4);

}

div.settings-container div.settings-group {
    background-color: black;
    color: lightgray;
}

div.selection_container div.table div.table-item {
    border-top: 1px solid darkslategray;
}

div.selection_container div.table div.table-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

div.selection_container div.headings {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    background-color: rgb(50, 50, 50);
    border: 1px solid rgb(70, 70, 70);
}

#side_bar h2 {
    color: lightslategray;
}

#side_bar a {
    color: lightgray;
}

#main_content {
    background-color: #393939;
}


.selection_container {
    background-color: black;
    color: lightgray;
}

#side_bar a.selected {
    background-color: rgba(0, 0, 0, 0.25);
}


#side_bar a:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

div.selection_container div.table {
    border: 1px solid darkslategray;
}

div.selection_container div.tool_bar {
    border: 1px solid darkslategray;
}

div.widget_container *{
    border: 1px solid black;
}