:root {
    --header-height: 56px;
    --header-vertical-padding: 16px;
    --sidebar-width: 220px;
    --sidebar-collapsed-width: 64px;
    --sidebar-item-height: 40px;
    --sidebar-color: darkgrey;

}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.web-app {
    width: 100%;
    height: 100%;
}

.app-header {
    min-height: var(--header-height);
    line-height: var(--header-height);
    padding: 0 var(--header-vertical-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-body {
    height: calc(100vh - var(--header-height) - var(--header-vertical-padding));
    display: flex;
}

#sidebar {
    width: var(--sidebar-width);
    background-color: var(--sidebar-color);
    transition: width 0.25s ease;
}

#sidebar.collapsed {
    width: var(--sidebar-collapsed-width);
    transition: width 0.25s ease;
}

#sidebar .label {
    transition: opacity 0.15s ease;
}

#sidebar.collapsed .label {
    opacity: 0;
    pointer-events: none;
}

.sidebar-item {
    display: flex;
    padding: 5px;
    gap: 20px;
    border: 1px solid rgb(197, 196, 196);
    height: var(--sidebar-item-height);
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.15s ease;
    transition-delay: 0.05s;
}

.sidebar-item * {
    opacity: 100%;
}

.sidebar-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.15s ease;
    transition-delay: 0.05s;
}

.sidebar-item .icon {
    height: 30px;
    min-width: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-item .icon svg {
    height: 24px;
    width: 24px;
}