[Unit]
Description=WebDisplay Service

[Install]
WantedBy=default.target

[Service]
User=webdisplay
Restart=always
ExecStart=/WebDisplay/.venv/bin/python3 /WebDisplay/main.py db.db 5000
WorkingDirectory=/WebDisplay/
