* {
    box-sizing: border-box;
}

body {
    background-color: #131314;
    color: white;
    height: 100vh;
    margin: 0;
}
h1 {
    margin: 0;
    padding: 10px;
}

#calenderBody {
    display: flex;
    margin: 0 1vw;
    height: 90%;
}

.time-slots {
    margin-top: 7vh;
}

.time-slots ol {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

.time-slots li {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f20;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    margin-top: 1px;
    margin-bottom: 1px;
}

.time-slots  li::after{
    content: "";
    align-self:baseline;
    justify-self: start;
    position: absolute;
    left: 1vw;
    height: 1px;
    background-color: darkgrey;
    width: 98vw;
    z-index: 1;
}

.days {
    display: flex;
    height: 100%;
    width: 100%;
}

.day {
    width: 100%;
    border-right: thin solid slategray;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
}
.days div.day:first-of-type {
    border-left: thin solid slategray;
}
.day-header {
    text-align: center;
    height: 7vh;
    margin-bottom: 1px;
}

.day-header p, .day-header h3 {
    margin-top: 0rem;
}

.events {
    display: grid;
    flex-grow: 1;
    grid-template-rows: repeat(64, 1fr);
}

.event {
    font-size:xx-small;
    background: gray;
    border-radius: 3px;
    padding-left: 5px;
    border: 0.01px black solid;
}

.multi-event {
    display: grid;
    flex-grow: 1;
}

.multi-event .event{
    width: 100%;
}

.current p {
    background-color: lightblue;
    border-radius: 5px;
}