<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Calender</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='calender.css')}}">
    </head>
    <body>
        <div id="cal_head">
            <h1>Test Calender</h1>
        </div>
        <div id="calenderBody">
        </div>
        <script src="{{url_for('static', filename='calender.js')}}" async defer></script>
    </body>
</html>