<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Calender</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='calender.css')}}">
    </head>
    <body>
        <div id="cal_head">
            <h1>Test Calender</h1>
        </div>
        <div id="calenderBody">
            <div class="cal_day">
                <div class="cal_day_title">
                    Day One
                    
                </div>
                <div class="cal_day_body">
                    <div class="cal_event">
                        <div class="cal_event_name">
                            Test Event
                        </div>
                        <div class="cal_event_time">
                            10pm - 10pm
                        </div>
                    </div>
                    <div class="cal_event">
                        <div class="cal_event_name">
                            Test Event
                        </div>
                        <div class="cal_event_time">
                            10pm - 10pm
                        </div>
                    </div>
                    <div class="cal_event">
                        <div class="cal_event_name">
                            Test Event
                        </div>
                        <div class="cal_event_time">
                            10pm - 10pm
                        </div>
                    </div>
                    <div class="cal_event">
                        <div class="cal_event_name">
                            Test Event
                        </div>
                        <div class="cal_event_time">
                            10pm - 10pm
                        </div>
                    </div>
                </div>
            </div>
            <div class="cal_day">
                <div class="cal_day_title">
                    Day Two
                    
                </div>
                <div class="cal_day_body">
                    <div class="cal_event">
                        <div class="cal_event_name">
                            Test Event
                        </div>
                        <div class="cal_event_time">
                            10pm - 10pm
                        </div>
                    </div>
                </div>
            </div>
            <div class="cal_day">
                <div class="cal_day_title">
                    Day Three
                    
                </div>
                <div class="cal_day_body">
                    <div class="cal_event">
                        <div class="cal_event_name">
                            Test Event
                        </div>
                        <div class="cal_event_time">
                            10pm - 10pm
                        </div>
                    </div>
                </div>
            </div>
            <div class="cal_day">
                <div class="cal_day_title">
                    Day Four
                    
                </div>
                <div class="cal_day_body">
                    <div class="cal_event">
                        <div class="cal_event_name">
                            Test Event
                        </div>
                        <div class="cal_event_time">
                            10pm - 10pm
                        </div>
                    </div>
                </div>
            </div>
            <div class="cal_day">
                <div class="cal_day_title">
                    Day Five
                    
                </div>
                <div class="cal_day_body">
                    <div class="cal_event">
                        <div class="cal_event_name">
                            Test Event
                        </div>
                        <div class="cal_event_time">
                            10pm - 10pm
                        </div>
                    </div>
                </div>
            </div>
            <div class="cal_day">
                <div class="cal_day_title">
                    Day Six
                    
                </div>
                <div class="cal_day_body">
                    <div class="cal_event">
                        <div class="cal_event_name">
                            Test Event
                        </div>
                        <div class="cal_event_time">
                            10pm - 10pm
                        </div>
                    </div>
                </div>
            </div>
            <div class="cal_day">
                <div class="cal_day_title">
                    Day Seven
                    
                </div>
                <div class="cal_day_body">
                    <div class="cal_event">
                        <div class="cal_event_name">
                            Test Event
                        </div>
                        <div class="cal_event_time">
                            10pm - 10pm
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>