{% extends "homeLayout.html"%} {% block sidebar %} {% for item in peers %}
{%if not item.disabled%}
{%if item.available %}
<a href="{{item.web_url}}">{{item.device_name}}</a>
{%else%}
<a href="{{item.web_url}}" class="disabled">{{item.device_name}}</a>
{%endif%}
{%endif%}
{% endfor %} {% endblock sidebar %} {% block mainPage %}
<div class="settings">
  <div class="settings-bar">
    <button
      onclick="{settingsClear(); document.getElementsByClassName('presentation-controls')[0].style.display = 'block';}">
      Presentation
    </button>
    <button onclick="{settingsClear(); document.getElementsByClassName('CEC-controls')[0].style.display = 'block';}">
      CEC
    </button>
    <button
      onclick="{settingsClear(); document.getElementsByClassName('paired-screens-controls')[0].style.display = 'block';}">
      Paired Screens
    </button>
    <button
      onclick="{settingsClear(); document.getElementsByClassName('configuration-controls')[0].style.display = 'block';}">
      Config
    </button>
  </div>
  <div class="presentation-controls controls" style="display: block">
    <h2 style="font-weight: normal">Presentation Configuration</h2>
    <form id="presentation">
      <canvas class="previewDisplay" id="previewCanvas" style="width: 100%"></canvas>
      <label>Display Type: </label>
      <select id="presentationType">
        <option value="publishedSlide">Published - Google Slides</option>
        <option value="viewingSlide">Anyone can view - Google Slides</option>
        <option value="URL">URL</option>
        <option value="idle">Idle Screen</option>
      </select>
      <div class="form-url-options">
        <label>Name: </label>
        <input id="name" type="text" class="textbox" /><br />
        <label>URL: </label>
        <input id="url" type="url" class="textbox" onchange="updatePreviewURL(this.value)" /><br />
        <label>Day: </label>
        <select id="wkDay">
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
          <option value="Sunday">Sunday</option>
        </select><br />
        <label>Start Time: </label>
        <input id="startTime" type="time" /><br />
        <label>End Time: </label>
        <input id="endTime" type="time" /><br />
        <label>Color: </label>
        <input id="color" type="color" /><br />
      </div>
      <div class="form-slides-options">
        <label>Name: </label>
        <input id="name" type="text" class="textbox" /><br />
        <label>URL: </label>
        <input id="url" type="url" class="textbox" onchange="updatePreviewURL(this.value)" /><br />
        <label>Day: </label>
        <select id="wkDay">
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
          <option value="Sunday">Sunday</option>
        </select><br />
        <label>Start Time: </label>
        <input id="startTime" type="time" /><br />
        <label>End Time: </label>
        <input id="endTime" type="time" /><br />
        <label>Color: </label>
        <input id="color" type="color" /><br />
        <label>Restart the slideshow after the last slide: </label>
        <input id="restart" type="checkbox" checked /><br />
        <label>Start slideshow as soon as the player loads: </label>
        <input id="start" type="checkbox" checked /><br />
        <label>Delay Between Slides</label>
        <input id="delay" type="number" value="5" />
      </div>
      <div class="form-idle-options">
        <label>Name: </label>
        <input id="name" type="text" class="textbox" /><br />
        <label>Day: </label>
        <select id="wkDay">
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
          <option value="Sunday">Sunday</option>
        </select><br />
        <label>Start Time: </label>
        <input id="startTime" type="time" /><br />
        <label>End Time: </label>
        <input id="endTime" type="time" /><br />
        <label>Color: </label>
        <input id="color" type="color" /><br />
      </div>
      <input id="identifier" type="hidden" value=0>
      <p>Sync:</p>
      <div id="peerSelect">
        {% for peer in peers%}
        {%if not peer.disabled%}
        <label>{{ peer.device_name }}</label>
        <input type="checkbox" name="{{ peer.device_id }}" /><br />
        {%endif%}
        {% endfor %}
      </div>
    </form>
    <button onclick="processEvent(false)">Update</button><button onclick="processEvent(true)">New</button><button
      onclick="deleteEvent(document.getElementById('identifier').value)">Delete</button>
  </div>
  <div class="configuration-controls controls" style="display: none">
    <h2 style="font-weight: normal">Configuration</h2>
    <form id="configForm">
      <!-- {%for adapter in adapters%} {%if adapter.type == "Ethernet"%}
      <div class="form-ethernet-adapter-options">
        <h3>Adapter:{{" " + adapter.name}}:{{" " + adapter.state}}</h3>
        <h4>IP Configuration</h4>
        <label>IP Type: </label>
        <select>
          <option value="DHCP">DHCP</option>
          <option value="Manual">Manual</option>
        </select><br />
        <label>IP: </label>
        <input type="text" value="{{adapter.data.ip_address}}" class="textbox" /><br />
        <label>Subnet: </label>
        <input type="text" class="textbox" /><br />
        <label>Gateway: </label>
        <input type="text" value="{{adapter.data.gateway}}" class="textbox" /><br />
        <label>DNS: </label>
        <input type="text" value="{{adapter.data.dns}}" class="textbox" /><br />
      </div>
      <hr />
      {%elif adapter.type == "WiFi"%}
      <div class="form-wifi-adapter-options">
        <h3>Adapter: {{" " + adapter.name}}:{{" " + adapter.state}}</h3>
        <label>SSID: </label>
        <input type="text" class="textbox" /><br />
        <label>Password: : </label>
        <input type="password" class="textbox" /><br />

        <h4>IP Configuration</h4>
        <label>IP Type: </label>
        <select>
          <option value="DHCP">DHCP</option>
          <option value="Manual">Manual</option>
        </select><br />
        <label>IP: </label>
        <input type="text" value="{{adapter.data.ip_address}}" class="textbox" /><br />
        <label>Subnet: </label>
        <input type="text" class="textbox" /><br />
        <label>Gateway: </label>
        <input type="text" value="{{adapter.data.gateway}}" class="textbox" /><br />
        <label>DNS: </label>
        <input type="text" value="{{adapter.data.dns}}" class="textbox" /><br />
      </div>
      <hr />
      {%endif%} {%endfor%} -->
      <label>Name: </label>
      <input id="name" type="text" value="{{config['name']}}"/><br />
      <label>Minutes Between Automatic Reloads (0 for never): </label>
      <input type="number" id="reloadTime" value="{{config['reload_time']}}"/><br />
      <button onclick="sendConfig(event)">Apply</button>
    </form>
  </div>
  <div class="paired-screens-controls controls" style="display: none">
    <h2 style="font-weight: normal">Peer Configuration</h2>

    <h3>Add Peer</h3>
    <label>IP Address: </label>
    <input type="text" id="addPeerIP" /><br />
    <label>Port: </label>
    <input type="number" id="addPeerPort" value="5000" /><br />
    <!-- <label>Add to existing peers: </label>
      <input type="checkbox" checked><br> -->
    <button onclick="addPeer(event)">Add</button>
    <h3>Remove Peer</h3>
    <div id="peerRemove">
      {% for peer in peers%}
      {% if peer.disabled%}
      <label>{{ peer.device_name }}</label>
      <input type="checkbox" onchange="setdisabled('{{peer.device_id}}', this.checked)" name="{{ peer.id }}"
        checked /><br />
      {%else%}
      <label>{{ peer.device_name }}</label>
      <input type="checkbox" onchange="setdisabled('{{peer.device_id}}', this.checked)" name="{{ peer.id }}" /><br />
      {%endif%}
      {% endfor %}
    </div>
    </form>
  </div>
  <div class="CEC-controls controls" style="display: none">
    <h2 style="font-weight: normal">CEC Controls</h2>
    <button onclick="fetch('/api/CEC/on/')">Tv On</button>
    <button onclick="fetch('/api/CEC/off/')">Tv Off</button>
    <button onclick="fetch('/api/CEC/setActive/')">Set Active</button>
    <button onclick="fetch('/api/CEC/volume/up/')">Volume Up</button>
    <button onclick="fetch('/api/CEC/volume/down/')">Volume Down</button>
    <button onclick="fetch('/api/CEC/volume/mute/')">Mute</button>
  </div>
</div>

<div class="preview">
  <div class="previewButtons">
    <button
      onclick="{document.getElementsByClassName('live-preview')[0].style.display = 'flex'; document.getElementsByClassName('url-preview')[0].style.display = 'none';}">
      Live
    </button>
    <button
      onclick="{document.getElementsByClassName('live-preview')[0].style.display = 'none'; document.getElementsByClassName('url-preview')[0].style.display = 'flex';}">
      Preview
    </button>
  </div>

  <div class="url-preview preview-section">
    <button onclick="refreshImage(document.getElementById('previewIframe'));">
      Reload
    </button>
    <iframe src="" id="previewIframe" class="previewDisplay" style="display: block !important;"></iframe>
    <p>
      This is a preview of the entered url in your browser. If it shows an error
      related to embedding or your browser being unable to open the page, this
      is likely caused by the page not allowing embedding. If this is the case it
      will still work once sent to the device.
    </p>
  </div>
  <div class="live-preview preview-section" style="display: none">
    <button onclick="refreshImage(document.getElementById('imagePreview'));">
      Reload
    </button>
    <img src="/getScreenshot" class="previewDisplay" id="imagePreview" />
    <p>
      This is a screenshot of the browser being displayed currently. Press
      reload to get a new image.
    </p>
  </div>
</div>

{% endblock mainPage %}