<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    </head>
    <body>
    <div class="topbar">
        <div>
            <button>Updates</button>
            <div style="position: absolute; top: 3rem; right: 0; background-color: grey; width: 30vw; height: 40vh;">
                <p>Release Notes....</p>
                <button>Update</button>
            </div>
        </div>
        <button onclick="fetch('/restart')">Restart</button>
        <h1>{{name}}</h1>

    </div>
    <div class="main">
        {% block main %}
        
        {% endblock main %}
    </div>
        
    
    </body>
    <script src="{{url_for('static', filename='index.js')}}" async defer></script>
</html>